.disabled {
  pointer-events: none;
}

.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.pointer {
  cursor: pointer;
}

.no-scrollbar {
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    display: initial;
    height: 12px;
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #D6DDE2;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.row-container {
  @extend .flex-row;
  align-items: center;
}

.col-container {
  @extend .flex-col;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-white {
  color: white;
}

.font-s {
  font-size: 0.75rem;
}

.font-m {
  font-size: 0.875rem;
}

.font-normal {
  font-size: 1rem;
}

.font-l {
  font-size: 1.25rem;
}

.bold {
  font-weight: bold;
}

.rounded {
  border-radius: 10px;
}

.rounded--s {
  border-radius: 8px;
}
