$body-color: #F1F3F7;
$light-blue: #438FCD;
$blue: #06426C;
$dark-blue: #00294A;
$button-blue: #0074B7;
$light-grey: #F1F2F4;
$grey: #747579;
$dark-grey: #333333;
$brown: #967e62;
$light-brown: #e1ceab;
