@import "src/assets/styles/base/colors";

body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
  color: #333;
  overflow: hidden;

  font-family: 'Noah', sans-serif;
}

* {
  font-family: 'Noah', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  touch-action: manipulation;

  -webkit-tap-highlight-color: transparent;
  outline: -webkit-focus-ring-color none 1px;

  overscroll-behavior: none !important;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;

  &, &:active, &:focus {
    outline: none;
  }
}

input {
  height: 20px;
  width: 100%;
  color: $dark-blue;
  background-color: transparent;

  &, &:active, &:focus {
    outline: none;
    border: none;
  }
}

input {
  -webkit-user-select: text;
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

// вимикається автоматична іконка "око" для пароля
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &, &:active, &:focus {
    border: 0;
    outline: 0;
  }
}

p {
  margin: 0;
}


