@font-face {
  font-family: 'Noah';
  src: url('@/assets/styles/base/fonts/Noah/Noah-Regular.eot');
  src: local('Noah Regular'), local('Noah-Regular'),
  url('@/assets/styles/base/fonts/Noah/Noah-Regular.woff2') format('woff2'),
  url('@/assets/styles/base/fonts/Noah/Noah-Regular.woff') format('woff'),
  url('@/assets/styles/base/fonts/Noah/Noah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noah';
  src: url('@/assets/styles/base/fonts/Noah/Noah-Medium.eot');
  src: local('Noah Medium'), local('Noah-Medium'),
  url('@/assets/styles/base/fonts/Noah/Noah-Medium.woff2') format('woff2'),
  url('@/assets/styles/base/fonts/Noah/Noah-Medium.woff') format('woff'),
  url('@/assets/styles/base/fonts/Noah/Noah-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noah';
  src: url('@/assets/styles/base/fonts/Noah/Noah-Bold.eot');
  src: local('Noah Bold'), local('Noah-Bold'),
  url('@/assets/styles/base/fonts/Noah/Noah-Bold.woff2') format('woff2'),
  url('@/assets/styles/base/fonts/Noah/Noah-Bold.woff') format('woff'),
  url('@/assets/styles/base/fonts/Noah/Noah-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
