@keyframes showByFading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideByFading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showByScaling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hideByScaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
