.field {
  @extend .flex-col, .rounded;
    position: relative;
    justify-content: center;
    height: calc(2.75rem - 2px);
    min-height: calc(2.75rem - 2px);
    width: calc(100% - 1rem - 2px);
    min-width: 6rem;
    padding-left: 1rem;
    border: 1px solid $grey;

  &--active, &:hover {
    border-color: $dark-blue;
  }

  &-wrapper {
    @extend .flex-col;
    position: relative;
    width: 100%;

    &--long-hint {
      flex-direction: row !important;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &-text {
    @extend .font-s;
    margin-top: 2px;
    line-height: 1rem;
    text-indent: 1rem;
  }

  &__value {
    @extend .flex-row;
    position: absolute;
    bottom: 0.25rem;
    left: 3rem;

    &-text {
      @extend .text-ellipsis, .font-m;
      line-height: 1.25rem;
      color: $dark-blue;
    }
  }
}
