<template>
  <div class='general-button' :class='[`general-button--${type}`, {disabled: isDisabled}]'
       :style='colors'>
    <p class='general-button__text'>{{ text }}</p>
  </div>
</template>

<script lang='ts' setup>
import { computed } from 'vue';

const props = defineProps({
  text: String,
  type: {
    type: String,
    default: 'filled',
    enum: ['filled', 'outlined', 'text']
  },
  color: {
    type: String,
    default: 'blue',
    enum: ['blue', 'red']
  },
  isDisabled: Boolean
});

const colors = computed(() => {
  return {
    '--static-color': props.color === 'blue' ? '#0074B7' : '#CD4343',
    '--hover-color': props.color === 'blue' ? '#68B1EC' : '#EC6C6C',
    '--active-color': props.color === 'blue' ? '#2471B0' : '#AF1A1A',
    '--disabled-color': props.color === 'blue' ? '#BFD7ED' : '#FD9494'
  };
});
</script>

<style lang='scss' scoped>
.general-button {
  @extend .pointer, .row-container, .font-m, .rounded;
  justify-content: center;
  height: calc(2.75rem - 0.625rem * 2 - 2px);

  color: var(--static-color);
  border: 1px solid var(--static-color);
  background-color: $light-blue;
  box-sizing: content-box;

  &:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
    background-color: var(--hover-color);
  }

  &:active {
    border-color: var(--active-color);
    color: var(--active-color);
    background-color: var(--active-color);
  }

  &.disabled {
    border-color: var(--disabled-color);
    color: var(--disabled-color);
    background-color: var(--disabled-color);
    pointer-events: none;
  }

  &--filled, &--outlined, &--text {
    width: calc(100% - 1rem * 2);
    padding: 0.625rem 1rem;
  }

  &--outlined, &--text {
    background-color: transparent !important;
  }

  &--filled {
    color: white !important;
    border-color: $light-blue;
  }

  &--text {
    border-color: transparent !important;
  }

  &__text {
    @extend .bold, .text-center;
    line-height: 1rem;
  }
}
</style>
