<template>
  <p class='field-label'>{{ text }}</p>
</template>

<script lang='ts' setup>
defineProps({
  text: String,
});
</script>

<style lang='scss' scoped>
.field-label {
  @extend .text-ellipsis, .font-m;
  position: absolute;
  top: calc((100% - 1rem) / 2);

  line-height: 1rem;
  color: $dark-blue;
  transition-duration: 0.15s;
}

.field {
  &--active, &--filled {
    .field-label {
      @extend .font-s;
      top: 0.25rem;
    }
  }
}
</style>
