<template>
  <div class='checkbox'>
    <div class='checkbox__content' @click='onClick'>
      <div class='checkbox__button' :class='{"checkbox__button--checked": isChecked}'></div>
      <p v-if='label' class='checkbox__text'>{{ label }}</p>
    </div>
  </div>
</template>

<script lang='ts' setup>
import { onMounted, ref, watch } from 'vue';

const props = defineProps({
  label: String,
  initial: Boolean,
});
const emits = defineEmits(['update:modelValue']);

const isChecked = ref(false);

const onClick = () => {
  isChecked.value = !isChecked.value;
  emits('update:modelValue', isChecked.value);
};

onMounted(() => isChecked.value = props.initial);

watch(() => props.initial, () => isChecked.value = props.initial);
</script>

<style lang='scss' scoped>
.checkbox {
  @extend .row-container, .pointer;
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 2rem;

  &__content {
    @extend .row-container;
  }

  &__button {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    @include svgBg($checkbox, 1.25rem);
    transition-duration: 0.1s;

    &--checked {
      @include svgBg($checkbox-checked, 1.25rem);
    }

    & + .checkbox__text {
      margin-left: 0.75rem;
    }
  }

  &__text {
    @extend .font-m;
    max-width: 100%;
    line-height: 1rem;
  }
}
</style>
