<template>
  <div class='toggle'>
    <form-label :text="label" />
    <p v-for='variant in variants' class='toggle__item' :key='variant'
       :class='{"toggle__item--selected": variant.value === initial}' @click='onItemClick(variant.value)'>
      {{ variant.name }}
    </p>
  </div>
</template>

<script lang='ts' setup>
import { PropType } from 'vue';
import FormLabel from "@/components/Form/FormLabel.vue";

interface Variant {
  name: number | string;
  value: number | string;
}

defineProps({
  initial: [String, Number],
  variants: {
    type: Array as PropType<Variant[]>,
    default: () => []
  },
  label: String,
});
const emits = defineEmits(['update:modelValue']);

const onItemClick = (item: string | number) => emits('update:modelValue', item);
</script>

<style lang='scss' scoped>
.toggle {
  @extend .flex-row;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  overflow: hidden;

  &__item {
    @extend .bold, .text-center, .font-m, .pointer;
    flex: 1;
    position: relative;

    line-height: 2.75rem;
    background-color: #ccc3;
    color: $dark-blue;
    transition-duration: 0.2s;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &--selected {
      color: white;
      background-color: $light-blue;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  :deep(.field-label) {
    top: 0;
  }
}
</style>
