<template>
  <div class='field-wrapper'>
    <div class='field' :class='inputClass' @click='onClick'>
      <form-label :text='label' />
      <input v-model='value' ref='input' type='number' spellcheck='false' @focus='isActive = true'
             @blur='isActive = false' @input='onInput' />
      <div class='field__arrows'>
        <div class='field__arrows-up' @click='onUpClick'></div>
        <div class='field__arrows-down' @click='onDownClick'></div>
      </div>
    </div>
  </div>
</template>

<script lang='ts' setup>
import { computed, ref, watchEffect } from 'vue';
import FormLabel from "@/components/Form/FormLabel.vue";

const props = defineProps({
  label: String,
  initial: {
    type: Number,
    default: null
  },
  min: {
    type: Number,
    default: null
  },
  max: {
    type: Number,
    default: null
  },
});
const emits = defineEmits(['update:modelValue']);

const value = ref<number | null>(null);
const isActive = ref(false);
const input = ref<HTMLElement | null>(null);

const inputClass = computed(() => {
  return {
    'field--active': isActive.value,
    'field--filled': value.value !== null,
  };
});

const onClick = () => {
  isActive.value = true;
  input.value?.focus();
};

const onUpClick = () => {
  const newValue = (value.value ?? 0) + 1;
  if (props.max === null || newValue <= props.max) {
    value.value = (value.value ?? 0) + 1;
    onInput();
  }
};

const onDownClick = () => {
  const newValue = (value.value ?? 0) - 1;
  if (props.min === null || newValue >= props.min) {
    value.value = (value.value ?? 0) - 1;
    onInput();
  }
};

const onInput = () => {
  if (props.min !== null && (value.value as number) < props.min) {
    value.value = props.min;
  } else if (props.max !== null && (value.value as number) > props.max) {
    value.value = props.max;
  }
  emits('update:modelValue', value.value);
};

watchEffect(() => value.value = props.initial ?? null);
</script>

<style lang='scss' scoped>
@import "../../assets/styles/components/form";

.field {
  width: calc(100% - 1rem - 3rem - 2px);
  padding-right: 3rem;
  cursor: text;

  &--active, &--filled {
    input {
      height: 1.25rem;
    }
  }

  &__arrows {
    @extend .flex-col, .pointer;
    position: absolute;
    top: 0;
    right: 1rem;
    height: 100%;

    &-up, &-down {
      width: 1.5rem;
      height: 50%;
      @include svgBg($select-arrow, 1.5rem);
    }

    &-up {
      transform: rotate(0.5turn);
    }
  }

  &-label {
    max-width: calc(100% - 1rem - 3rem);
  }
}

input {
  @extend .font-s;
  position: absolute;
  bottom: 0.25rem;
  width: calc(100% - 1rem - 3rem);
  padding: 0;
}
</style>
