<template>
  <div class="board-cells__checker" :class="checkerClass" :style="checkerStyle" @click.left="onCheckerClick('left')"
       @click.right="onCheckerClick('right')"></div>
</template>

<script lang='ts' setup>
import { computed, PropType } from "vue";
import { Checker } from "@/types/Checker";

const props = defineProps({
  checker: {
    type: Object as PropType<Checker>,
    default: () => ({})
  },
  isSelected: Boolean,
  isMoving: Boolean,
  isTaken: Boolean,
  cellSize: {
    type: Number,
    default: 0
  }
});
const emits = defineEmits(['click']);

const checkerClass = computed(() => [
  props.checker.color === 1 ? 'white' : 'black',
  {
    'king': props.checker.isKing,
    'selected': props.isSelected,
    'taken': props.isTaken,
    'moving': props.isMoving
  }
]);

const checkerStyle = computed(() => ({
  top: `${ props.checker.y + 5 }px`,
  left: `${ props.checker.x + 5 }px`,
  width: `${ props.cellSize - 12 }px`,
  height: `${ props.cellSize - 12 }px`
}));

const onCheckerClick = (button: 'left' | 'right') => emits('click', props.checker, button);
</script>

<style lang='scss' scoped>
.board-cells__checker {
  position: absolute;
  border-radius: 50%;
  z-index: 200;

  &.black {
    @include svgBg($black);

    &.taken {
      filter: brightness(1.3) grayscale(1);
      opacity: 0.7;
    }
  }

  &.white {
    @include svgBg($white);

    &.king:after {
      filter: brightness(0.5);
    }

    &.taken {
      opacity: 0.8;
    }
  }

  &.king:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    @include svgBg($king);
    animation: showByFading 0.25s 1 both;
  }

  &.selected {
    animation: selectedChecker 0.4s infinite alternate ease-out;
    box-shadow: 1px 1px 4px #3336;
  }

  &.taken {
    transition: 0.25s;
  }

  &.moving {
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
    z-index: 1000;

    &.king:after {
      animation-delay: 0.4s;
    }
  }
}

@keyframes selectedChecker {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
</style>
