<template>
  <div class="board-cells__cell" :class="[cell.color, cell.index, {'active': isActive}]" :style="cellStyle"
       @click.left="onCellClick('left')" @click.right="onCellClick('right')">
    <p v-if="isIndexShown" class="board-cells__cell-index">{{ cell.index }}</p>
  </div>
</template>

<script lang='ts' setup>
import { computed, PropType } from "vue";
import { Cell } from "@/types/Cell";

const props = defineProps({
  cell: {
    type: Object as PropType<Cell>,
    default: () => ({})
  },
  cellSize: Number,
  isIndexShown: Boolean,
  isActive: Boolean,
});
const emits = defineEmits(['click']);

const cellStyle = computed(() => ({
  top: `${ props.cell.y }px`,
  left: `${ props.cell.x }px`,
  width: `${ props.cellSize }px`,
  height: `${ props.cellSize }px`
}))

const onCellClick = (button: 'left' | 'right') => emits('click', props.cell, button);
</script>

<style lang='scss' scoped>
.board-cells__cell {
  position: absolute;
  z-index: 100;

  &.dark {
    background-color: $brown;
  }

  &.light {
    background-color: $light-brown;
  }

  &.active {
    filter: grayscale(1) brightness(80%) sepia(1) hue-rotate(50deg) saturate(150%);
  }

  &-index {
    margin: 2px;
    font-size: 14px;
  }
}
</style>
