<template>
  <p v-for="(letter, l_ind) in letters" :key="letter" class="board-cells__index"
     :style="`width: ${cellSize}px; left: ${l_ind * cellSize}px; top: -1.25rem;`">
    {{ letter }}
  </p>
  <p v-for="(letter, l_ind) in letters" :key="letter" class="board-cells__index"
     :style="`width: ${cellSize}px; left: ${l_ind * cellSize}px; bottom: -1.25rem;`">
    {{ letter }}
  </p>
  <p v-for="(number, n_ind) in numbers" :key="number" class="board-cells__index"
     :style="`width: 1rem; line-height: ${cellSize}px; top: ${n_ind * cellSize}px; left: -1.25rem;`">
    {{ number + 1 }}
  </p>
  <p v-for="(number, n_ind) in numbers" :key="number" class="board-cells__index"
     :style="`width: 1rem; line-height: ${cellSize}px; top: ${n_ind * cellSize}px; right: -1.25rem;`">
    {{ number + 1 }}
  </p>
</template>

<script lang='ts' setup>
import { computed } from "vue";

const props = defineProps({
  cellSize: Number,
  rows: {
    type: Number,
    default: 0,
  },
  isBlack: Boolean
});

const alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];

const letters = computed((): string[] => {
  const letters = alphabet.slice(0, props.rows);
  if (props.isBlack) {
    letters.reverse();
  }

  return letters;
});

const numbers = computed((): number[] => {
  const numbers = [];
  for (let i = 0; i < props.rows; i++) {
    numbers.push(i);
  }

  if (props.isBlack) {
    numbers.reverse();
  }

  return numbers;
});

</script>

<style lang='scss' scoped>
.board-cells__index {
  position: absolute;
  text-align: center;
  z-index: 100;
}
</style>
