<template>
  <div class="page" @contextmenu.prevent>
    <div class="page__game-panel">
      <div class="board" :style="{width: `${size}px`, height: `${size}px`}" :class="{disabled: isStarted && winner}">
        <div class="board-cells" :class="{disabled: isBoardDisabled}">
          <board-cell v-for="cell in cells" :key="`${cell.index}${cellsKey}`" :cell="cell" :cell-size="cellSize"
                      :is-active="activeCells.includes(cell.index)" :is-index-shown="isCellIndexShown"
                      @click="onCellClick" />
          <board-checker v-for="checker in checkers2" :key="checker.id" :checker="checker"
                         :is-selected="checker.position === selectedChecker" :cell-size="cellSize"
                         :is-moving="checker.position === movingChecker"
                         :is-taken="takenCheckers.includes(checker.position)" @click="onCheckerClick" />
          <board-indexes v-if="isColRowIndexShown" :cell-size="cellSize" :rows="rows" :is-black="color === 0" />
        </div>
      </div>
      <template v-if="isStarted">
        <p v-if="winner" class="help">Winner: {{ winner }}</p>
        <p v-else class="help">Next move: {{ game?.position?.next_move }}</p>
      </template>
    </div>
    <div class="page__setup-panel">
      <div class="page__setup-panel__block" :class="{disabled: isStarted}">
        <form-number-input v-model="rows" :initial="rows" label="Board size" :min="2" :max="16" />
        <form-toggle v-model="color" :initial="color" :variants="colors" label="Your color" />
        <form-checkbox v-model="isAIGame" :initial="isAIGame" label="Play with computer" />
        <template v-if="!isStarted">
          <general-button text="Setup standard board" type="outlined" @click="onSetupStandardBoardClick" />
          <general-button text="Start game" @click="onStartClick" />
          <general-button text="Reset" color="red" type="text" @click="onResetClick" />
        </template>
      </div>
      <form-checkbox v-model="isCellIndexShown" :initial="isCellIndexShown" label="Show cell indexes" />
      <form-checkbox v-model="isColRowIndexShown" :initial="isColRowIndexShown" label="Show cols and rows indexes" />
      <general-button v-if="isStarted" text="End game" @click="onEndClick" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import init, { Color, QuietMove } from "checkers_core/build-wasm/checkers_core";
import { GameProcess } from "checkers_core/build-js/gameProcess";
import { computed, onMounted, onUnmounted, ref, watch } from "vue";
import { ColorType } from "checkers_core/build-js/bindings/ColorType";
import GeneralButton from "@/components/Button/GeneralButton.vue";
import FormNumberInput from "@/components/Form/FormNumberInput.vue";
import FormCheckbox from "@/components/Form/FormCheckbox.vue";
import FormToggle from "@/components/Form/FormToggle.vue";
import BoardIndexes from "@/components/Board/BoardIndexes.vue";
import { Checker } from "@/types/Checker";
import { Cell } from "@/types/Cell";
import BoardCell from "@/components/Board/BoardCell.vue";
import BoardChecker from "@/components/Board/BoardChecker.vue";
import { MoveItem } from "checkers_core/build-js/bindings/MoveItem";
import { StraightStrike } from "checkers_core/build-js/bindings/StraightStrike";

const colors = [{ name: 'White', value: Color.White }, { name: 'Black', value: Color.Black }];

const game = ref<GameProcess | null>(null);

const rows = ref(8);
const color = ref(Color.White);

const size = ref(0);
const isCellIndexShown = ref(true);
const isColRowIndexShown = ref(false);
const isAIGame = ref(true);
const isStarted = ref(false);
const isBoardDisabled = ref(false);
const checkers2 = ref<Checker[]>([]);
const selectedChecker = ref(-1);
const movingChecker = ref(-1);
const activeCells = ref<number[]>([]);
const takenCheckers = ref<number[]>([]);
const cellsKey = ref(0);
const lastId = ref(0);

const cellSize = computed((): number => size.value / rows.value);

const cells = computed((): Cell[] => {
  const cellSize = size.value / rows.value;
  const cells: Cell[] = [];

  for (let i = rows.value - 1; i >= 0; i--) {
    const colorOffset = rows.value % 2 === 0 ? i : 2;
    for (let j = 0; j < rows.value; j++) {
      const index = color.value === 0
          ? i * rows.value + (rows.value - j) - 1
          : rows.value * rows.value - (i * rows.value + (rows.value - j));
      cells.push({
        x: cellSize * j,
        y: cellSize * i,
        index,
        color: (cells.length - colorOffset) % 2 === 0 ? 'light' : 'dark',
      });
    }
  }

  return cells;
});

const winner = computed((): string => {
  let white = 0, black = 0;
  /*for (const checker of Object.values(checkers.value)) {
    if (checker.color === Color.White) white++;
    else black++;
  }*/

  checkers2.value.map(checker => checker.color === Color.White ? white++ : black++);

  if (black === 0) return 'White';
  else if (white === 0) return 'Black';
  else return '';
});

const setSize = () => size.value = Math.floor(Math.min(
    document.documentElement.clientWidth * 0.8,
    document.documentElement.clientHeight * 0.8 - 70
));

// convert game [cells] data to appropriate [checkers] data
const setGameCheckers = () => {
  if (game.value?.position) {
    const newCheckers: Checker[] = [];
    game.value.position.cells?.map(item => {
      if (!item) return;

      const cell = cells.value.find(cell => cell.index === item?.pos);
      if (cell) {
        newCheckers.push({
          position: item.pos,
          color: Color[item.color],
          isKing: item.is_king,
          x: cell.x,
          y: cell.y,
          id: getCheckerId(),
        });
      }
    });

    checkers2.value = newCheckers;
  }
};

const setActiveCells = () => {
  if (game.value) {
    const moveList = game.value.getMoveList();
    const currentCheckers = moveList?.list?.map(item => getMoveData(item)?.from ?? -1)?.filter(item => item >= 0);
    activeCells.value = [...new Set(currentCheckers)];
  }
};

const getMoveData = (data: MoveItem | null | undefined) => data?.strike?.vec?.[0] ?? data?.mov;

const getCheckerId = () => `ch-${ lastId.value++ }`;

const doAIMove = (data: QuietMove | StraightStrike, isLast: boolean) => {
  isBoardDisabled.value = true;

  if (data) {
    const { from, to, take, king_move } = data;
    const checker = checkers2.value.find(checker => checker.position === from);
    const cell = cells.value.find(cell => cell.index === to);

    if (take) {
      takenCheckers.value.push(take);
    }

    if (checker && cell) {
      checker.position = cell.index;
      movingChecker.value = checker.position;

      checker.x = cell.x;
      checker.y = cell.y;

      if (!checker.isKing && king_move) {
        checker.isKing = true;
      }
    }
  }

  if (isLast) {
    setTimeout(() => {
      if (takenCheckers.value.length) {
        checkers2.value = checkers2.value.filter(item => !takenCheckers.value.includes(item.position));
        takenCheckers.value = [];
      }

      setActiveCells();
    }, 350);

    isBoardDisabled.value = false;
  }
}

const onSetupStandardBoardClick = () => {
  checkers2.value = [];

  cells.value.map(cell => {
    if (cell.color === 'dark' && (cell.index <= rows.value * 3 || cell.index >= rows.value * 5)) {
      checkers2.value.push({
        position: cell.index,
        color: cell.index <= rows.value * 3 ? Color.White : Color.Black,
        isKing: false,
        x: cell.x,
        y: cell.y,
        id: getCheckerId(),
      });
    }
  });
}

const onCellClick = (cell: Cell, button: 'left' | 'right' = 'left') => {
  if (cell.color === 'light') return;

  if (!isStarted.value) { // customize board
    const types = [[], [Color.White, false], [Color.White, true], [Color.Black, false], [Color.Black, true]];
    const checker = checkers2.value.find(checker => checker.position === cell.index);
    if (!checker) { // if cell is empty - set white checker
      checkers2.value.push({
        position: cell.index,
        color: button === 'left' ? Color.White : Color.Black,
        isKing: button !== 'left',
        x: cell.x,
        y: cell.y,
        id: getCheckerId(),
      });
    } else { // if cell is full - find next checker
      const { color, isKing } = checker;
      const typeIndex = types.findIndex(item => item[0] === color && item[1] === isKing);
      if (typeIndex >= 0) {
        if (typeIndex === 4 && button === 'left' || typeIndex === 1 && button === 'right') {
          checkers2.value = checkers2.value.filter(item => item.position !== checker.position); // remove checker (set empty cell)
        } else { // set next type of checker
          const nextType = button === 'left' ? types[typeIndex + 1] : types[typeIndex - 1];
          checker.color = nextType[0] as Color;
          checker.isKing = nextType[1] as boolean;
        }
      }
    }
  } else if (selectedChecker.value >= 0) { // try to make a move
    console.log('------------------');
    game.value?.applyFrontClick(selectedChecker.value);
    const stepResult = game.value?.applyFrontClick(cell.index);
    if (stepResult?.confirmed) {
      const { take, from, to, king_move } = stepResult.confirmed;
      const checker = checkers2.value.find(checker => checker.position === from);

      if (take) {
        takenCheckers.value.push(take);
      }

      if (to === cell.index && checker) {
        checker.position = cell.index;
        movingChecker.value = checker.position;

        checker.x = cell.x;
        checker.y = cell.y;

        if (!checker.isKing && king_move === true) {
          checker.isKing = true;
        }
      }

      if (stepResult?.done && checker) {
        selectedChecker.value = -1;
        activeCells.value = [];

        setTimeout(() => {
          if (takenCheckers.value.length) {
            checkers2.value = checkers2.value.filter(item => !takenCheckers.value.includes(item.position));
            takenCheckers.value = [];
          }
        }, 350);
      }

      if (stepResult?.list?.length) {
        isBoardDisabled.value = true;
        setTimeout(() => {
          const nextCell = cells.value.find(item => item.index === stepResult.list?.[0]?.to);
          nextCell && onCellClick(nextCell);
          isBoardDisabled.value = false;
        }, 650);
      } else if (stepResult?.done && checker && isAIGame.value) {
        //isBoardDisabled.value = true;
        if (+Color[game.value?.moveColor ?? 0] !== +color.value) {
          const move = game.value?.getOrApplyBestMove(true);

          if (move?.pos?.mov?.strike?.vec?.length) {
            const movesAmount = move.pos.mov.strike.vec.length;
            move.pos.mov.strike.vec.map((move, index) => {
              setTimeout(() => doAIMove(move, index === movesAmount - 1), 500 * (index + 1));
            });
          } else {
            setTimeout(() => {
              if (move?.pos?.mov?.mov) {
                doAIMove(move.pos.mov.mov as QuietMove, true);
              }
            }, 500);
          }
        }
      }
    }
  }
};

const onCheckerClick = (checker: Checker, button: 'left' | 'right' = 'left') => {
  const cell = cells.value.find(item => item.index === checker.position);
  if (!cell || cell.color === 'light') return;

  if (!isStarted.value) {
    onCellClick(cell, button);
  } else if (game.value?.position) {
    if (checker.color === Color[game.value.moveColor as unknown as ColorType]) { // select/unselect checker
      if (checker.position !== selectedChecker.value) {
        selectedChecker.value = checker.position;
        activeCells.value = [];
        game.value?.applyFrontClick(selectedChecker.value);

        const moveList = game.value.getMoveList()?.list?.filter(item => getMoveData(item)?.from === checker.position);
        if (moveList?.length === 1) { // if only one move is available - do it automatically
          const nextCell = cells.value.find(item => item.index === getMoveData(moveList[0])?.to);
          nextCell && onCellClick(nextCell);
        } else {
          activeCells.value = moveList?.map(item => getMoveData(item)?.to ?? -1)?.filter(item => item >= 0);
        }
      } else {
        selectedChecker.value = -1;
        setActiveCells();
      }
    }
  }
};

const onStartClick = () => {
  isStarted.value = true;

  init().then(() => {
    // setup board manually
    game.value = new GameProcess(rows.value, color.value);
    checkers2.value.map(checker => game.value?.insertPiece(checker.position, checker.color, checker.isKing));

    // auto setup
    /*game.value = new GameProcess(8, Color.White);
    game.value.insertPiece(0, Color.White, true);
    game.value.insertPiece(63, Color.White, true);
    game.value.insertPiece(18, Color.Black, false);
    game.value.insertPiece(43, Color.Black, false);*/

    setGameCheckers();
    setActiveCells();
  });
};

const onEndClick = () => {
  isStarted.value = false;
  activeCells.value = [];
  takenCheckers.value = [];
  checkers2.value = [];
  selectedChecker.value = -1;
  lastId.value = 0;
};

const onResetClick = () => {
  checkers2.value = [];
  rows.value = 8;
  color.value = Color.White;
  isStarted.value = false;
};

const onResize = () => {
  setSize();

  checkers2.value.map(checker => {
    const cell = cells.value.find(cell => cell.index === checker.position);
    if (cell) {
      checker.x = cell.x;
      checker.y = cell.y;
    }
  });
}

onMounted(() => {
  setSize();
  window.addEventListener('resize', onResize);
});

onUnmounted(() => window.removeEventListener('resize', onResize));

watch(() => game.value?.moveColor, setActiveCells);
</script>

<style lang="scss">
@import "assets/styles/base/core";
</style>

<style lang="scss" scoped>
.page {
  @extend .flex-row;
  height: 100vh;
  width: 100%;
  align-items: center;

  &__game-panel {
    @extend .flex-col;
    flex: 1;
    align-items: center;
  }

  &__setup-panel {
    @extend .flex-col;
    width: min(12rem, 20vw);
    height: calc(100% - 2rem);
    margin-left: 2rem;
    padding: 1rem;
    border-left: 1px solid #ccc;

    &__block {
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccc;

      &.disabled {
        opacity: 0.75;
      }
    }

    & > div:not(.page__setup-panel__block), &__block > div {
      margin-bottom: 1rem;
    }
  }
}

.board {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  background-color: $light-brown;
  border-radius: 4px;

  &-cells {
    position: relative;
    width: 100%;
    height: 100%;
    margin: -1px 0 0 -1px;
    border: 2px solid $brown;
    border-radius: 4px;
  }
}

.general-button--text {
  margin-top: 0.5rem;
}

.help {
  position: absolute;
  margin-top: -2rem;
  line-height: 2rem;
  font-size: 14px;
  color: #666;
}
</style>
